body {
  background-color: #2f3136;
  color: #dcddde;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:  0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.top-bar {
  width: 100%;
  background-color: #4f545c;
  padding: 10px;
  border-bottom: 1px solid #2f3136;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.top-bar-left {
  display: flex;
  align-items: center;
}

.top-bar-right {
  display: flex;
  align-items: center;
}

.btn {
  background-color: #4f545c;
  color: #dcddde;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
}

.btn:hover {
  background-color: #5f656d;
}

.tree-list-btn {
  background-color: #4f545c;
  color: #dcddde;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
}

.tree-list-btn:hover {
  background-color: #5f656d;
}

.tree-list-btn i {
  font-size: 18px;
  margin-right: 10px;
}

.login-btn {
  background-color: #ffa07a;
  color: #dcddde;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
}

.login-btn:hover {
  background-color: #ff9900;
}

.register-btn {
  background-color: #4f545c;
  color: #dcddde;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 50%;
}

.register-btn:hover {
  background-color: #5f656d;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.image-container {
  width: 100%;
  height: 200px; /* Adjust the height according to your image */
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info-section {
  padding: 20px;
  text-align: center;
}

.info-text {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.info-text h2 {
  margin-top: 0;
}

.info-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-text li {
  margin-bottom: 10px;
}

.info-text strong {
  font-weight: bold;
}
