body {
  background-color: #36393f;
  color: #dcddde;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #2f3136;
  padding: 10px;
  border-bottom: 1px solid #2f3136;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-image {
  width: 100%;
  height: 100px;
  background-color: #2f3136;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.description-box {
  width: 75%;
  padding: 20px;
  background-color: #2f3136;
  border: 1px solid #2f3136;
  border-radius: 10px;
  margin: 20px;
}

.download-box {
  width: 20%;
  padding: 20px;
  background-color: #2f3136;
  border: 1px solid #2f3136;
  border-radius: 10px;
  margin: 20px;
}

.info-text {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}

.info-text h2 {
  margin-top: 0;
}

.info-text ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info-text li {
  margin-bottom: 10px;
}

.info-text strong {
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
